.news {
    position: relative;
    background-color: #fccb05;
    padding: 145px 0 142px 0;

    &__top {
        position: relative;
        z-index: 1000;
        color: $dark-brown-color;
        text-align: center;
        max-width: 680px;
        margin: 0 auto;
        h1 {
            font-size: 45px;
            font-weight: 700;
            line-height: 60px;
            letter-spacing: 4.5px;
            font-family: $font-family-eng;
        }
        p {
            font-family: $font-family-korean;
            font-size: 16px;
            line-height: 30px;
            font-weight: 300;
            margin-top: 18px;
            margin-bottom: 45px;
        }
        a {
            display: inline-block;
        }
    }

    &__images {
        display: flex;
        margin-top: 128px;

        &-item {
            position: relative;

            .icon1 {
                position: absolute;
                z-index: 999;
                bottom: -80px;
                right: -10px;
            }
            .icon2 {
                position: absolute;
                z-index: 999;
                background-color: $bright-orange-two-color;
                border-radius: 50%;
                border: 2px solid $black-two-color;
                padding: 16px 24px;
                top: -24px;
                left: 26px;
                span {
                    font-family: $font-family-eng;
                    font-weight: 800;
                    font-size: 28px;
                    line-height: 17px;
                    border-bottom: 2px solid $black-two-color;
                }
            }
            .icon3 {
                position: absolute;
                z-index: 999;
                bottom: -52px;
                left: -103px;
            }

            &:nth-child(4) {
                margin-left: -6px;
            }
        }
    }
    .obj1 {
        position: absolute;
        right: 70px;
        top: 42px;
    }

    .obj2 {
        position: absolute;
        right: 68px;
        top: 163px;
    }
}
