.video {
    margin-bottom: 147px;
    .wrapper {
        width: 100%;
        background-image: url("../../assets/img/video_bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 225px;
    }

    &__top {
        font-family: $font-family-eng;
        color: $black-two-color;
        text-align: center;
        max-width: 684px;
        margin: 0 auto;
        padding-top: 136px;
        h1 {
            font-size: 50px;
            font-weight: 800;
            line-height: 60px;
            letter-spacing: 5px;
        }
        p {
            font-size: 20px;
            line-height: 32px;
            font-weight: 340;
            margin-top: 28px;
        }
        a {
            margin: 45px 0 72px 0;
            display: inline-block;
        }
    }

    &__bottom {
        max-width: 1251px;
        margin: 0 auto;
        .video-header {
            display: flex;
            align-items: center;
            font-family: $font-family-eng;
            background-color: $black-two-color;
            padding: 14px 19px 8px 19px;
            .vector {
                width: 24px;
                height: 24px;
                object-fit: cover;
            }
            .right_arrow {
                object-fit: cover;
            }
            h4 {
                font-size: 25px;
                font-weight: 800;
                color: $white-color;
                margin-left: 10px;
            }
            .bar {
                height: 13px;
                border-top: 3px solid $white-color;
                border-bottom: 3px solid $white-color;
                margin-left: 22px;
                margin-right: 38px;
                flex-grow: 1;
            }
        }

        .video-middle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 19px 7px 25px;
            border: 3px solid $black-two-color;
            border-bottom: none;
            background-color: $white-color;
            h5 {
                font-family: $font-family-eng;
                font-size: 18px;
                color: $black-two-color;
                font-weight: 800;
            }
            img {
                object-fit: cover;
            }
        }

        .video-show {
            position: relative;
            img {
                object-fit: cover;
            }

            .description {
                display: flex;
                align-items: center;
                border: 2px solid $black-two-color;
                background-color: $white-color;
                opacity: 0.94;

                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 10%;
                max-width: 1057px;
                width: 100%;
                h4 {
                    &:first-child {
                        font-family: $font-family-eng;
                        font-weight: 700;
                        font-size: 25px;
                        color: $black-three-color;
                        background-color: #fcd32a;
                        padding: 7px 20px 11px 22px;
                    }

                    &:last-child {
                        font-family: $font-family-korean;
                        font-weight: 500;
                        font-size: 26px;
                        color: $black-three-color;
                        text-align: center;
                        flex-grow: 1;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 767.98px) {
        margin-bottom: 0;
        .wrapper {
            background-image: none;
            padding-bottom: 100px;
        }
        &__top {
            h1 {
                font-size: 35px;
            }
            p {
                font-size: 15px;
            }
        }

        &__bottom {
            .video-header {
                padding: 10px 14px;
                h4 {
                    font-size: 18px;
                }
            }

            .video-middle {
                padding: 10px 14px;
                h5 {
                    font-size: 14px;
                }
            }

            .video-show {
                .description {
                    h4 {
                        &:first-child {
                            font-size: 18px;
                            padding: 10px 14px;
                        }

                        &:last-child {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 374.98px) {
        &__top {
            h1 {
                font-size: 30px;
            }
        }

        &__bottom {
            .video-header {
                padding: 10px 14px;
                h4 {
                    font-size: 14px;
                }
                .bar {
                    border-top: 2px solid $white-color;
                    border-bottom: 2px solid $white-color;
                }
                .vector {
                    width: 16px;
                    height: 16px;
                }
                .right_arrow {
                    width: 16px;
                    height: 16px;
                }
            }

            .video-middle {
                padding: 10px 14px;
                h5 {
                    font-size: 10px;
                }
            }

            .video-show {
                .description {
                    h4 {
                        &:first-child {
                            font-size: 12px;
                            padding: 10px 14px;
                        }

                        &:last-child {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}
