// [color - variables]
$black-color: #1a1a1a;
$white-two-color: #eeeeee;
$dark-brown-color: #110e03;
$tomato-two-color: #e84c33;
$copper-color: #c73c27;
$tomato-three-color: #e0412a;
$cloudy-blue-color: #b1d1cf;
$greyish-color: #a9a9a9;
$dark-color: #1c2027;
$pumpkin-orange-color: #fa7b26;
$dark-maroon-color: #020001;
$black-two-color: #111111;
$tomato-color: #ea4913;
$kelley-green-color: #00833f;
$bright-orange-two-color: #ff5500;
$bluish-color: #2584b3;
$mango-two-color: #ffb227;
$light-grey-color: #ced1c8;
$light-grey-two-color: #d8dad7;
$sun-yellow-color: #fcd32a;
$white-three-color: #f4f4f4;
$pinkish-grey-two-color: #ccc8c6;
$black-three-color: #222222;
$white-color: #ffffff;
$cerulean-color: #0565bb;
$lavender-color: #c6b8f5;
$mango-color: #ffb225;
$sand-color: #dabb5e;
$eggshell-color: #fffbd8;
$pinkish-grey-color: #d4c4ab;
$mid-blue-color: #245fc5;
$black-four-color: #333333;
$brownish-grey-color: #666666;
$white-four-color: #f1f1f1;
$clear-blue-color: #157eff;

// [font family]
$font-family-eng: "Montserrat", "sans-serif";
$font-family-korean: "Noto Sans KR", "sans-serif";
