@import "./base/base";
@import "./abstracts/variables";
@import "./components/header";
@import "./components/mainBanner";
@import "./components/introduction";
@import "./components/bestProduct";
@import "./components/products";
@import "./components/brandStory";
@import "./components/news";
@import "./components/video";
@import "./components/footer";

.main-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    font-family: $font-family-eng;
    color: $black-three-color;
    font-size: 23px;
    line-height: 25px;
    font-weight: 800;
    padding: 16px 36px;
    border: 3px solid $black-three-color;
    border-radius: 3px;
    transition: 0.5s all ease;
    &:hover {
        background-color: $black-three-color;
        color: #fff;
    }
}
